@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.ListBoxes
@using Sitecore.Web.UI.Controls.Common.TextBoxes
@using Sitecore.Web.UI.Controls.Common.Texts
@using Sitecore.Web.UI.Controls.Data.SearchDataSources
@model RenderingModel

<h3>Using a Data Source</h3>
<p>
  The child items of the data source of the rendering determines the items in the list box.
</p>
<p>
@Html.Sitecore().Controls().ListBox("ListBox1", new { DataSource = "/sitecore" })
</p>

<pre>
&#64;Html.Sitecore().Controls().ListBox("ListBox1", new { DataSource = "/sitecore" })
</pre>
            


<h3>Events</h3>
<p>
  Selecting an item updates the <code>selectedItemIds</code> property.
</p>        

@Html.Sitecore().Controls().ListBox("ListBox2", new { DataSource = "/sitecore", Multiple = true })
@Html.Sitecore().Controls().Text("Text1", "Select an option", new { Text = "{Binding ListBox2.selectedItemIds}" })

<pre>
  &#64;Html.Sitecore().Controls().ListBox("ListBox2", new { DataSource = "/sitecore", Multiple = true })
  &#64;Html.Sitecore().Controls().Text("Text1", "Select an option", new { Text = "{Binding ListBox2.selectedItemIds}" })
</pre>



<h3>Data-binding</h3>
<p>
  The items can be data-bound to a data source.
</p>
                     
<p>
  Search:
  @Html.Sitecore().Controls().TextBox("TextBox1", new { Text = "Sample" })
</p>
<p>
  @Html.Sitecore().Controls().SearchDataSource("DataSource1", new { Text = "{Binding TextBox1.text}" })
  @Html.Sitecore().Controls().ListBox("ListBox3", new { Items = "{Binding DataSource1.items}", Multiple = true })
  @Html.Sitecore().Controls().Text("Text2", "Select an option", new { Text = "{Binding ListBox3.selectedItemIds}" })
</p>

<pre>
&#64;Html.Sitecore().Controls().SearchDataSource("DataSource1", new { Text = "{Binding TextBox1.text}" })                              
&#64;Html.Sitecore().Controls().ListBox("ListBox3", new { Items = "{Binding DataSource1.items}", Multiple = true })
&#64;Html.Sitecore().Controls().Text("Text2", "Select an option", new { Text = "{Binding ListBox3.selectedItemIds}" })
</pre>

