@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.TextBoxes
@model RenderingModel

<h3>Apperance</h3>
<p>
  You can specify an initial text displaying in the text box and its parent control ID.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Read-only, empty</th>
      <th>Read-only, with text</th>
      <th>Editable, empty</th>
      <th>Editable, with text</th>
      <th>Invisible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Html.Sitecore().Controls().TextBox("TextBox1", new { IsReadOnly = true })</td>
      <td>@Html.Sitecore().Controls().TextBox("TextBox2", new { IsReadOnly = true, Text = "Sample text." })</td>
      <td>@Html.Sitecore().Controls().TextBox("TextBox3", new { IsReadOnly = false })</td>
      <td>@Html.Sitecore().Controls().TextBox("TextBox4", new { IsReadOnly = false, Text = "Sample text." })</td>
      <td>@Html.Sitecore().Controls().TextBox("TextBox5", new { IsVisible = false, Text = "You should not see this text box." })</td>
    </tr>
  </tbody>
</table>

<pre>
  &#64;Html.Sitecore().Controls().TextBox("TextBox1", new { IsReadOnly = true })
  &#64;Html.Sitecore().Controls().TextBox("TextBox2", new { IsReadOnly = true, Text = "Sample text." })
  &#64;Html.Sitecore().Controls().TextBox("TextBox3", new { IsReadOnly = false })
  &#64;Html.Sitecore().Controls().TextBox("TextBox4", new { IsReadOnly = false, Text = "Sample text." })
  &#64;Html.Sitecore().Controls().TextBox("TextBox5", new { IsVisible = false, Text = "You should not see this text box." })
</pre>


