@using Sitecore.Mvc
@using Sitecore.PathAnalyzer.Localization
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var userControl = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    userControl.Class = "sc-legend";
    userControl.DataBind = "visible: isVisible";
    userControl.Requires.Script("pathanalyzer", "legend.js");

    var htmlAttributes = userControl.HtmlAttributes;

    var resourceManager = new ResourceManager();
}
<div @htmlAttributes>
    <div id="legend" class="legendWrapper">
        <h3>@resourceManager.Translate(PathAnalyzerTexts.LegendValueHeader)</h3>
        <p>@resourceManager.Translate(PathAnalyzerTexts.LegendValueDescription)</p>
        <span class="circle circleSize8"></span><span class="circle circleSize16"></span><span class="circle circleSize24"></span>
        <hr />
        <h3>@resourceManager.Translate(PathAnalyzerTexts.LegendVisitsHeader)</h3>
        <p>@resourceManager.Translate(PathAnalyzerTexts.LegendVisitsDescription)</p>
        <span class="line lineSize4"></span><span class="line lineSize8"></span><span class="line lineSize16"></span>
        <hr />
        <h3>@resourceManager.Translate(PathAnalyzerTexts.LegendValuePerVisitHeader)</h3>
        <p>@resourceManager.Translate(PathAnalyzerTexts.LegendValuePerVisitDescription1)</p>
        <p>@resourceManager.Translate(PathAnalyzerTexts.LegendValuePerVisitDescription2)</p>
        <p><span class="square sq11"></span>@resourceManager.Translate(PathAnalyzerTexts.LegendGreen)</p>
        <p><span class="square sq1"></span>@resourceManager.Translate(PathAnalyzerTexts.LegendRed)</p>
        <div class="legendColors">
            <span class="square sq1"></span>
            <span class="square sq2"></span>
            <span class="square sq3"></span>
            <span class="square sq4"></span>
            <span class="square sq5"></span>
            <span class="square sq6"></span>
            <span class="square sq7"></span>
            <span class="square sq8"></span>
            <span class="square sq9"></span>
            <span class="square sq10"></span>
            <span class="square sq11"></span>
        </div>
        <div class="legendLabels"><span>@resourceManager.Translate(PathAnalyzerTexts.LegendLow)</span><span>@resourceManager.Translate(PathAnalyzerTexts.LegendAverage)</span><span>@resourceManager.Translate(PathAnalyzerTexts.LegendHigh)</span></div>
    </div>
</div>